<!--   Div impostazioni utente -->
<div class="user">
<img src="utente_1.png" class="utente" (click)="Change()">
<div *ngIf="change==true">
  <p>Email</p>
<input type="text" readonly="readonly" placeholder="{{username}}" class="email">
<p>Password</p>
<input type="password" [(ngModel)]="password" class="password">
<button (click)="CambiaPassword()" class="buttoncambia ">Cambia Password</button>
<u class="elimina" (click)="Elimina()">Elimina Account</u>
<div  *ngIf="elimina == true" class="divelimina">
<p id="testo">Vuoi davvero Eliminare il Tuo Account?</p>
  <button class="si" (click)="EliminaAccount()">SI</button>
  <button class="x" (click)="Elimina()">X</button>
</div>
<div *ngIf="risposta.buona!=''" class="buona">
  {{risposta.buona}}
</div>
<div *ngIf="risposta.negativa!=''" class="negativa">
  {{risposta.negativa}}
</div>


</div>

</div>






<!-- DIV per il meteo -->
<div *ngIf="long != 0">
  <p class="temp">{{temperatura}}°C</p>
<div style="text-align: center; padding: 40px;">


  <!--  Molto nuvoloso -->
  <div
    *ngIf="tipo === 'MOSTLY CLOUDY' || tipo == 'CLOUDY'"
    class="weather-box"
  >
    <img src="nuvolo.png" alt="Nuvoloso" class="weather-icon" />
  </div>

  <!--  Sole -->
  <div *ngIf="tipo == 'CLEAR' || tipo == 'MOSTLY SUNNY' || tipo == 'SUNNY' " class="weather-box">
    <img src="sole.png" alt="Sole" class="weather-icon" />
  </div>

  <!-- 🌤️Sole e nuvole -->
  <div
    *ngIf="tipo== 'MOSTLY CLEAR' || tipo == 'PARTLY CLOUDY'"
    class="weather-box"
  >
    <img
      src="nuvolosole.png"
      alt="Sole e nuvole"
      class="weather-icon"
    />
  </div>

  <!--  Pioggia -->
  <div
    *ngIf="
     tipo == 'WIND AND RAIN' ||
      tipo == 'LIGHT RAIN SHOWERS' ||
      tipo == 'CHANCE_OF SHOWERS' ||
      tipo == 'SCATTERED SHOWERS' ||
    tipo == 'RAIN HOWERS' ||
      tipo == 'HEAVY RAIN SHOWERS' ||
      tipo == 'LIGHT TO MODERATE RAIN' ||
      tipo == 'MODERATE TO HEAVY RAIN' ||
      tipo == 'RAIN' ||
     tipo == 'LIGHT RAIN' ||
      tipo =='HEAVY RAIN'
    "
    class="weather-box"
  >
    <img src="pioggia.png" alt="Pioggia" class="weather-icon" />
  </div>

  <!--  Neve -->
  <div *ngIf="temperatura &lt; 0" class="weather-box">
    <img src="neve.png" alt="Neve" class="weather-icon" />
  </div>

  <!-- Vento -->
  <div *ngIf="tipo == 'WINDY'" class="weather-box">
    <img src="vento.png" alt="Vento" class="weather-icon" />
  </div>
</div>
</div>